@model IEnumerable<Freewire.Models.EquipmentModel>

@{
    ViewBag.Title = "Equipment";
}

<h2 aria-haspopup="false">Equipment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-condensed">
    <tr>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Bandwidth)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.License)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th style="text-align:center;">
            Edit
        </th>
        <th style="text-align:center;">
            Details
        </th>
        <th style="text-align:center;">
            Delete
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:right;">
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td style="text-align:right;">
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td style="text-align:right;">
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td style="text-align:right;">
            @Html.DisplayFor(modelItem => item.Bandwidth)
        </td>
        <td style="text-align:right;">
            @Html.DisplayFor(modelItem => item.License)
        </td>
        <td style="text-align:right;">
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td style="text-align:center;">
            @Html.ActionLink(" ", "Edit", "Equipment", new { id = item.ID }, new { @class = "glyphicon glyphicon-pencil" })
        </td>
        <td style="text-align:center;">
            @Html.ActionLink(" ", "Details", "Equipment", new { id = item.ID }, new { @class = "glyphicon glyphicon-th-list" })
        </td>
        <td style="text-align:center;">
            @Html.ActionLink(" ", "Delete", "Equipment", new { id = item.ID }, new { @class = "glyphicon glyphicon-remove" })
        </td>
    </tr>
}

</table>
