@model IEnumerable<Freewire.Models.EquipmentModel>

@{
    ViewBag.Title = "Radio Qualifier";
}

<div class="container">

@using (Html.BeginForm("RadioQualifier", "Tools"))
{
    @Html.AntiForgeryToken()

        <h2>Radio Qualifier</h2>
        <hr />
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-6" style="text-align: right;">Enter distance in miles:</label>
                        <div class="col-md-6">
                            <input class="form-control text-box single-line" type="number" name="distance" value="@ViewBag.distance" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-6" style="text-align: right;" onclick="sortTable(1)">Enter bandwidth in Mbps:</label>
                        <div class="col-md-6">
                            <input class="form-control text-box single-line" type="number" name="bandwidth" value="@ViewBag.bandwidth" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-block">Calculate</button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bandwidth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.License)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bandwidth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.License)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                    </tr>
            }

        </table>
}
</div>
