@model IEnumerable<Freewire.Models.EquipmentModel>

@{
    ViewBag.Title = "Radio Qualifier";
}

<div class="container">

@using (Html.BeginForm("RadioQualifier", "Tools"))
{
    <input name="lastSort" value="@ViewBag.lastSort" hidden />
    <input name="lastSortOrder" value="@ViewBag.lastSortOrder" hidden />

    @Html.AntiForgeryToken()

        <h2>Radio Qualifier</h2>
        <hr />
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-6" style="text-align: right;">Enter distance in miles:</label>
                        <div class="col-md-6">
                            <input class="form-control text-box single-line" type="number" name="distance" value="@ViewBag.distance" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-6" style="text-align: right;">Enter bandwidth in Mbps:</label>
                        <div class="col-md-6">
                            <input class="form-control text-box single-line" type="number" name="bandwidth" value="@ViewBag.bandwidth" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-block">Calculate</button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <tr>
                <th class="form-group">
                    @if (ViewBag.lastSort == "make")
                    {
                        if (ViewBag.lastSortOrder == "Desc")
                        {
                            <button type="submit" name="sort" value="make">@Html.DisplayNameFor(model => model.Make) <b class="glyphicon glyphicon-chevron-down"></b></button>
                        }
                        else
                        {
                            <button type="submit" name="sort" value="make">@Html.DisplayNameFor(model => model.Make) <b class="glyphicon glyphicon-chevron-up"></b></button>
                        }
                    }
                    else
                    {
                        <button type="submit" name="sort" value="make">@Html.DisplayNameFor(model => model.Make)</button>
                    }
                </th>
                <th class="form-group">
                    @if (ViewBag.lastSort == "model")
                    {
                        if (ViewBag.lastSortOrder == "Desc")
                        {
                            <button type="submit" name="sort" value="model">@Html.DisplayNameFor(model => model.Model) <b class="glyphicon glyphicon-chevron-down"></b></button>
                        }
                        else
                        {
                            <button type="submit" name="sort" value="model">@Html.DisplayNameFor(model => model.Model) <b class="glyphicon glyphicon-chevron-up"></b></button>
                        }
                    }
                    else
                    {
                        <button type="submit" name="sort" value="model">@Html.DisplayNameFor(model => model.Model)</button>
                    }
                </th>
                <th class="form-group">
                    @if (ViewBag.lastSort == "distance")
                    {
                        if (ViewBag.lastSortOrder == "Desc")
                        {
                            <button type="submit" name="sort" value="distance">@Html.DisplayNameFor(model => model.Distance) <b class="glyphicon glyphicon-chevron-down"></b></button>
                        }
                        else
                        {
                            <button type="submit" name="sort" value="distance">@Html.DisplayNameFor(model => model.Distance) <b class="glyphicon glyphicon-chevron-up"></b></button>
                        }
                    }
                    else
                    {
                        <button type="submit" name="sort" value="distance">@Html.DisplayNameFor(model => model.Distance)</button>
                    }
                </th>
                <th class="form-group">
                    @if (ViewBag.lastSort == "bandwidth")
                    {
                        if (ViewBag.lastSortOrder == "Desc")
                        {
                            <button type="submit" name="sort" value="bandwidth">@Html.DisplayNameFor(model => model.Bandwidth) <b class="glyphicon glyphicon-chevron-down"></b></button>
                        }
                        else
                        {
                            <button type="submit" name="sort" value="bandwidth">@Html.DisplayNameFor(model => model.Bandwidth) <b class="glyphicon glyphicon-chevron-up"></b></button>
                        }
                    }
                    else
                    {
                        <button type="submit" name="sort" value="bandwidth">@Html.DisplayNameFor(model => model.Bandwidth)</button>
                    }
                </th>
                <th class="form-group">
                    @if (ViewBag.lastSort == "license")
                    {
                        if (ViewBag.lastSortOrder == "Desc")
                        {
                            <button type="submit" name="sort" value="license">@Html.DisplayNameFor(model => model.License) <b class="glyphicon glyphicon-chevron-down"></b></button>
                        }
                        else
                        {
                            <button type="submit" name="sort" value="license">@Html.DisplayNameFor(model => model.License) <b class="glyphicon glyphicon-chevron-up"></b></button>
                        }
                    }
                    else
                    {
                        <button type="submit" name="sort" value="license">@Html.DisplayNameFor(model => model.License)</button>
                    }
                </th>
                <th class="form-group">
                    @if (ViewBag.lastSort == "cost")
                    {
                        if (ViewBag.lastSortOrder == "Desc")
                        {
                            <button type="submit" name="sort" value="cost">@Html.DisplayNameFor(model => model.Cost) <b class="glyphicon glyphicon-chevron-down"></b></button>
                        }
                        else
                        {
                            <button type="submit" name="sort" value="cost">@Html.DisplayNameFor(model => model.Cost) <b class="glyphicon glyphicon-chevron-up"></b></button>
                        }
                    }
                    else
                    {
                        <button type="submit" name="sort" value="cost">@Html.DisplayNameFor(model => model.Cost)</button>
                    }
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                    <tr>
                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.Bandwidth)
                        </td>
                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.License)
                        </td>
                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                    </tr>
            }

        </table>
}
</div>
